body {
          background-color: black;
           }
h2 {
            font-family: Impact;
            letter-spacing: 7px;
            word-spacing: 3px;
            color: white;
            font-weight: 400;
            font-variant: small-caps;
            text-transform: none;
            margin-left: 20px
          }
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
