body {
          background-color: black;
           }

h2 {
            font-family: Impact;
            letter-spacing: 7px;
            word-spacing: 3px;
            font-weight: 400;
            font-variant: small-caps;
            text-transform: none;
            margin-left: 20px
          }
h3 {
           color: white;
          }
p {
          color: white;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background: #8088807B;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
